            h1{
                color:peachpuff;
                font-size:600%;
                text-align:center;
            }
            h2{
                color:peachpuff;
                font-size:250%;
                text-align:center
            }
            p{
                color:papayawhip;
                font-size:150%;
            }
            li{
                color:papayawhip;
                font-size:100%;
            }
            body{
                background-color:burlywood;
            }
            .ing{
                width:20%;
                height:20%;
            }

